html {
  font-size: 10px;
}

body {
  color: #F7E4DB;
  font-family: helvetica;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  margin: 0px;
  background-color: rgba(58, 27, 31, 1); 
}

h1 {
  font-size: 4rem;
  margin-bottom: 0px;
}

h2 {
  font-size: 3.25rem;
}

#main {
  margin: 15px 8px;
  padding: 15px 15px 0 15px;
  border-radius: 5px;
  background: #0B090A;
}

#img-div {
  border-radius: 2px;
  background-color:  rgba(58, 27, 31, 1);
  padding: 10px 10px;
  margin: 0px;
}

#img-caption {
  margin: 10px 0px 5px 0px;
}

#headline {
  margin: 50px 0px;
  text-align: center;
}

#blurb-div{
  max-width: 700px;
  text-align: center;
  margin: 0px auto 0px;
}


img {
  max-width: 100%;
  border-radius: 3px;
  display: block;
  margin:  20px auto;
  height: auto;
}

#list{
  display: block;
  margin: 0px auto;
  text-align: center;
}

ul {
  background-color:  rgba(58, 27, 31, .6);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  text-align: left;
  max-width: 650px;
  line-height: 1.5;
  margin: 50px auto;
  display: block;
  
 
 
}

li {
  margin: 16px auto;
}

#love-blurb {
 display: block;
 margin-left:auto;
 margin-right:auto;
 max-width: 40%;
  }

blockquote {
color: #989A94;
font-style: italic;
font-size: 2rem;
max-width: 545px;
margin: 40px 30px 50px ;
text-align: left;

}

#footer-image{
background-color: #E8EAEF;
margin: 100px auto;
display: inline-block;
 
}

#gatsu{
  display: block;
  max-width: 80%;
  padding: 60px;
}

#rip{
  display: block;
  margin: 20px auto;
  color: #E8EAEF;
  font-size: 3rem;
  Font-style: italic; 
}

#links{
  background-color: rgba(58, 27, 31, 1);
  padding-top: 15px;
  padding-bottom: 5px;
}
 
a{
  margin: 40px;
  color: white;
}

a:visited {
  color: black;
}

a:hover {
  color: red;
}





